*{
	margin: 0;
  	padding: 0;
	font-family: 'Oxanium', cursive;
	list-style: none;
	text-decoration: none;
}

body{
	background: white;
}

nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}




#discord{
	position: relative; 											/*adaptation largeur widget*/
	width: 100%;

}

/* ___________________ Revoir Adapatation video_________________________*/ 
#trailer{
	width: 100%; 	max-width: 100%; 	height: 100%;
	border: 20px ;
	position: relative;
	background: #404040;
	
}

#trailer video{
	width: 80%;
	max-width: 80%;
	height: 80%;
	top: 0;
	left: 0;
    cursor: pointer;
}

.acc hr{
	height: 40px;
	border: none;
	background: linear-gradient(to right, rgba(41,124,217,1),rgba(151,15,188,1 ));
}

#masterleague {
    padding-top: 5%;
    width: 100%;    max-width: 100%;    height: 100%;
    border: 20px ;
    position: relative;
    background: #404040;
}

#masterleague img{
    width: 80%;
    max-width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    cursor: pointer;
}


/*__________________________________Barre Menu Accueil________________________________________________________*/
.menu{
	width: 100% ;
	background-color: #404040;
	overflow:auto;
}

.menu a {
	float: left;
	text-align: center;
  align-content: center;
	width: 14%;
	color: white;
	font-size: 50px;
	padding: 20px;
	transition: all 0.5s ease;
}
.menu a:hover{
	background: linear-gradient(to right, rgba(41,124,217,1),rgba(151,15,188,1 ));
}


/* ________________________________________________________ Menu langues__________________________________________________________________________________ */



.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/gb/flat/32.png);
}
.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.lang-menu:hover ul {
    display: block;
}